absl-py
altair
asttokens
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
executing
flatbuffers
fonttools
gast
geographiclib
geopy
gitdb
GitPython
google-pasta
grpcio
h5py
idna
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
namex
nest-asyncio
numpy
opt-einsum
optree
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
pyzmq
referencing
requests
rich
rpds-py
setuptools
six
smmap
stack-data
streamlit
streamlit-lottie
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
toml
toolz
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
Werkzeug
wheel
wrapt
